<template>
    <div>
        <h2>Contact List</h2>
        <v-data-table
            :headers="tableHeader"
            :items="contacts"
            :item-per-page="50"
            class="elevation-1"
        >
        </v-data-table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            tableHeader: [
                { text: 'Vendor', align: 'left', value: 'name' },
                { text: 'Tax ID', value: 'tax_id' },
                { text: 'Billing Address', value: 'billing_address' },
                { text: 'Branch', value: 'branch'},
                { text: 'Contact', value: 'contact'},
                { text: 'Stock', value: 'stock'},
                { text: 'Expense', value: 'expense'},
                { text: 'Customer', value: 'customer'}
            ],
            contacts: [],
            contact: {
                contact_id: '',
                name: '',
                tax_id: '',
                address: '',
                branch: '',
                contact: '',
                stock: '',
                expense: '',
                customer: ''
            },
            contact_id: '',
            pagination: {},
            edit: false
        }
    },

    created() {
        this.fetchContacts();
    },

    methods: {
        fetchContacts() {
            axios.post('/api/contacts')
                // .then(response => response.json())
                .then(res => {

                    this.contacts = res.data.data;
                    console.log(this.contacts);
                })
                .catch(error => console.log(error));
        }
    }
}
</script>
